.testimonial__paragraph {
  text-align: center;
  font-size: 1.8rem;
  line-height: 1.8;
}

.testimonial {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6rem;
  padding: 12rem 11rem 10rem 11rem;
}

.testimonial__details {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.testimonial__user-img {
  position: absolute;
  bottom: 0;
  width: 12%;
  height: auto;
  display: block;
  transform: translateY(50%);
  border-radius: 2rem;
}

@media (max-width: 768px) {
  .testimonial {
    padding: 10rem 9rem 8rem 9rem;
  }
}

@media (max-width: 420px) {
  .testimonial {
    padding: 6rem 8rem;
  }

  .testimonial__user-img {
    width: 20%;
  }
}
