.footer {
  position: relative;
}

.footer__form {
  position: relative;
  text-align: center;
  padding: 10rem 8rem;
  background-image: url("../../img/img-2.webp");
  background-size: cover;
  background-position: center;
  color: var(--white-color);
}

.footer__form * {
  position: relative;
  z-index: 1;
}

.footer__form::after {
  background-color: rgba(96, 55, 9, 0.8);
}
.footer__form form {
  width: 60%;
  background-color: var(--white-color);
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  border-radius: 0.5rem;
  border: 0.1rem solid var(--yellow-color);
  margin-top: 3rem;
}
.footer__form form input[type="email"] {
  width: 100%;
  padding: 1rem 1.5rem;
  border: none;
  background-color: transparent;
  font-family: inherit;
  font-size: 1.8rem;
  color: var(--yellow-secondary);
  border-left: 0.2rem solid transparent;
}

.footer__form form input[type="email"]:focus {
  outline: none;
  border-left: 0.2rem solid var(--yellow-color);
}

.footer__form form input[type="submit"] {
  border-radius: 0.5rem;
  font-size: 2.2rem;
  background-color: var(--yellow-color);
  color: var(--yellow-secondary);
  padding: 1.2rem 1.5rem;
  border: none;
  font-family: inherit;
  font-weight: 600;
  cursor: pointer;
}

.footer__box {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr;
  padding: 12rem 8rem 10rem 8rem;
  gap: 6rem;
  background-image: url("../../img/img-7.webp");
  background-position: bottom;
  background-size: cover;
}

.footer__img-cup {
  position: absolute;
  width: 26%;
  bottom: -20%;
}

.footer__img-cup--left {
  left: -10%;
}
.footer__img-cup--right {
  right: -10%;
}

.footer__details {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
}

.footer__details > p:first-of-type {
  font-family: var(--secondary-font);
  font-size: 5.4rem;
}

.footer__details > p:last-of-type {
  font-size: 1.4rem;
  line-height: 1.8;
}

.footer__socials img {
  width: 4rem;
  height: 4rem;
  margin-right: 1rem;
  cursor: pointer;
}

@media screen and (max-width: 992px) {
  .footer__form form {
    width: 80%;
  }
}

@media screen and (max-width: 768px) {
  .footer__form {
    padding: 6rem;
  }

  .footer__img-coffee-1,
  .footer__img-coffee-2 {
    width: 30%;
  }
  .footer__form form {
    width: 100%;
  }

  .footer__img-cup {
    width: 34%;
    bottom: -35%;
  }

  .footer__box {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    padding: 12rem 6rem 6rem 6rem;
  }
  .footer__details {
    grid-column: 1/-1;
  }
}

@media screen and (max-width: 420px) {
  .footer__img-cup {
    width: 45%;
    bottom: -30%;
  }
}
